# Ignore build output
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider and VS Code folders
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore global NuGet packages
*.nupkg
